/* reset css */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #34495e;
}
.card{
    border: none;
}
.nav-link{
    border: 1px solid #c9dff9;
    margin: 5px 0;
}
.nav-link i{
    padding-right: 10px;
}
.active i{
    color: #ffda51;
}
.bd-callout {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}
.bd-callout i{
    padding-right: 10px;
}
.bd-callout-info {
    border-left-color: #f0ad4e;
}
.bd-callout-info i{
    color: #f0ad4e;
}
.bd-callout-tips{
    border-left-color: #1bbde3;
}
.bd-callout-tips i{
    color:#1bbde3;
}
.bd-callout-process{
    border-left-color: #09b937;
}
.bd-callout-process i{
    color:#09b937;
}